<h1>New business</h1>

<%= error_messages_for :business %>

<% form_for(@business) do |f| %>
  <p>
    <b>Business name</b><br />
    <%= f.text_field :business_name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', businesses_path %>
