<% fields_for field_prefix(line_item_entry), line_item_entry do |line_form| -%>
  <tr>
    <td>
      <%= line_form.text_field :description, :size => 60 %>
    </td>
    <td>
      <%= line_form.text_field :quantity, :size => 10 %>
    </td>
    <td>
      <%= line_form.text_field :rate, :size => 10 %>
    </td>
  </tr>
<% end -%>
