html, body {
  background: #CCC url(../images/background_gradient.png) repeat-x;
  font: medium/1.6em "Trebuchet MS","Lucida Grande",Helvetica,sans-serif;
  padding: 0;
  margin: 0;
  min-width: 78.5em;
  min-height: 35em;
  *min-width: 78.7em;
  color: black;
}

#left-box, #main-box, #right-box {
  float: left;
  margin: 0.3em;
  padding: 0.3em;
  height: 34.4em;
  min-width: 13em;
}

#left-box {
  background-color: #000066;
  color: white;
}

#main-box {
  background-color: white;
  color: black;
  min-width: 48.81em;
}

#right-box {
  background-color: #e5eaef;
  color: black;
}

#left-box ul,
#right-box ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_heading {
  padding-left: 0.2em;
  color: #e5eaef;
  background: #3366cc url(../images/header_gradient.gif);
  margin-top: 0.3em;
}

#left-box li a,
#right-box li a {
  display: block;
  text-decoration: none;
  padding-left: 0.5em;
  border-top: 1px solid; 
}

#left-box li a {
  color: #e5eaef;
  background-color: #000066;
  border-top-color: #e5eaef;
}

#left-box li a:hover {
  background-color: #e5eaef;
  color: #000066;
}

#right-box li a{
  color: #000066;
  background-color: #e5eaef;
  border-top-color: #000066;
}

#right-box li a:hover {
  color: #e5eaef;
  background-color: #000066;
}

/* Boxed styling */

.boxed {
  margin-left: auto;
  margin-right: auto;
  width:47em;
}

.boxed h1 {
  margin: 0;
  font-size: 1em;
  color: white;
  padding: 0.8em 1.3em;
  line-height: 1em;
  background: #3c74e6 url("../images/header_gradient.gif") repeat-x;
}

.boxed .content {
  margin: 0;
  padding: 1em;
  border-top: 1px solid white;
  background: white url("../images/content_gradient.png") repeat-x;
}

.boxed dl {
  margin: 0;
  padding: 0;
}

.boxed dt {
  float: left;
  clear: left;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-right: 1em;
}
.boxed dd {
  margin-left:1em;
  margin-bottom: 0.5em;
}


/* General classes */

.centralise {
  text-align: center;
}

.clear {
  clear: both;
}

#notice {
  border: 2px solid black;
  padding: 0.3em;
  background-color: #93d7ae;
  font: bold sans-serif;
}
