
body { color: #303030; background: #003366; font: .74em Arial, Verdana, sans-serif; text-align: center; line-height: 1.6em; margin: 2.5em 0; }
a { color: #214466; background: inherit; }
a:hover { color: #CCCCCC; background: inherit; }
h2 {
	font-size: 1.4em;
	color: #336699;
}
ul { margin: .6em 0; padding: 0;}
.clear {	clear: both; margin: 0 0 .5em 0; }

#wrapper { width: 90%; margin: 0 auto; text-align: left; }

#logo h1 {
	float: left;
	color: #FF9148;
	background: inherit;
	margin: 0 0 .8em .3em;
	padding: 0;
	font-size: 2.4em;
}
	
#top {
	float: right;
        width: 31%;
        padding: 0;
	margin: 0 1.1%;
}	
#menu { 
    clear: left;
    margin: 0 2% 1em 1%;
    padding: 7px 0 7px 0;
    border-bottom: 1px solid #DCDBD5;
    border-top: 1px solid #DCDBD5;
}
#menu li { display: inline; }
#menu a { padding: 3px 15px; margin: 0 3px 0 0; text-decoration: none; color: #CCCCCC; background: inherit; }
#menu a.current { color: #fff; background: #3D648A; }
#menu a:hover { background: #fff; color: #444;}

.textad1 {
	float: left;
	width: 29%;
	margin: .3em 1.1%;
	background: #fff;
	color: #303030;
	padding: 1% 1%;
}	
	
.content {
	float: left;
	width: 62.2%;
	margin: 1em 1.1%;
	background: #fff;
	color: #303030;
	padding: .5% 1%;
}

.contentad {
	float: left;
	width: 29%;
	margin: 1em 1.1%;
	background: #fff;
	color: #303030;
	padding: .5% 1%;
}

.date {
	border-top: 1px dotted #ccc;
	padding: 5px 0;
	color: #336699;
}
			
.news {
	background: #FFFFFF;
	color: #808080;
	padding: .7em 1em;
	margin: 0 1%;
	border: 1px solid #cccccc;
}

#footer {
	margin: 2em 3%;
	text-align: right;
	color: #CCCCCC;
}

/*TEXT STYLES*/
.bodytext {
	font: 0.9em Arial, Helvetica, sans-serif;
	color: #666666;
}
.smallgraytext {
	font: bold 11px Tahoma, sans-serif;
	color:#336699;
}
.smallgraytext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
	text-decoration:none;
}
.smallgraytext a:hover{
	text-decoration:underline;
}
.smallorangetext {
	font: bold 11px Tahoma, sans-serif;
	color:#FF9933;
}
.smallorangetext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
	text-decoration:none;
}
.smallorangetext a:hover{
	text-decoration:underline;
}
