html, body {margin:0; padding:0;color:#bc6c18;}
body {height:100%; overflow-y:auto;}
* {font-family: "Trebuchet MS";}

a {color:#e5065f;text-decoration:underline;}
input, select {font-size:12px;font-family: "Trebuchet MS";}
form {padding:0;margin:0;}
table#entry_editor {padding:0;margin:0;width:100%;font-size:11px;}

#loading {background:#e5065f;color:#fff;position:fixed;top:0;left:0;padding:5px;font-size:13px;text-align:center;width:140px;height:23px;}
#nav {float:left;width:200px;font-size:11px;padding:10px;}
#content {margin-left:230px;padding-right:20px;border-top:1px #fff solid;}

#categories_list .hidden_link {float:right;}

.selected, .unselected {margin-bottom:5px;}
.left_block {font-size:11px;display:block;background:#ffffff;border:1px #eee solid;padding:7px;margin-bottom:5px;}


#nav h1 {font-size:11px;color:#999;border-bottom: 4px #eee solid;margin-top:35px;}
#content h1 {display:block;font-size:16px;color:#fff;font-weight:bold;background:url(../images/h1-bg.gif);background-repeat:repeat-x;height:58px;}
#content .h1-left-corner{float:left;display:block;background:url(../images/h1-left-corner.gif);background-repeat:no-repeat;height:6px;width:6px;line-height:1px;font-size:1px;}
#content .h1-right-corner{float:right;display:block;background:url(../images/h1-right-corner.gif);background-repeat:no-repeat;height:7px;width:6px;line-height:1px;font-size:1px;}
#content .h1-inner {display:block;padding-top:4px;padding-left:10px;letter-spacing:1px;}

#content h2 {font-size:14px;background:#fffed4;border:1px #fae18c solid;line-height:25px;padding-left:8px;padding-right:8px;}

#content .footer {display:block;font-size:16px;color:#fff;font-weight:bold;background:url(../images/footer-bg.gif);background-repeat:repeat-x;height:7px;padding-top:44px;}
#content .footer-left-corner{float:left;display:block;background:url(../images/footer-left-corner.gif);background-repeat:no-repeat;height:7px;width:7px;line-height:1px;font-size:1px;}
#content .footer-right-corner{float:right;display:block;background:url(../images/footer-right-corner.gif);background-repeat:no-repeat;height:7px;width:7px;line-height:1px;font-size:1px;}

.action_links {text-align:right;font-size:12px;}
.action_links a:hover{background:#e5065f; color:#fff;}

#accounts_list a {font-size:14px;display:block;background:#fff;padding:7px;border:1px #eee solid;text-decoration: none;}
#accounts_list a:hover, 
#accounts_list .selected {font-size:14px;display:block;background:#fffed4;border:1px #fae18c solid;padding:7px;}
#accounts_list .selected .nav_account_name {display:block;color:#bc6c18;font-size:14px;font-weight:bold;}
#accounts_list .selected .nav_account_delete, .left_block .nav_xx_create {display:block;text-align:right;}
#accounts_list .selected .nav_account_delete a, .left_block .nav_xx_create a {font-size:10px;}
#accounts_list .selected .nav_account_delete a:hover {display:inline;border:0;padding:0;text-decoration:underline;}
#accounts_list .selected a {display:inline;background:none;padding:0;border:0;}

#accounts_list .unselected .nav_account_name {}

.nav_account_small_total {text-decoration:none;font-size:10px;display:block;color:#bc6c18;}
.nav_account_today_total {padding-top:6px;text-decoration:none;font-size:11px;display:block;color:#b7b25f;}
.nav_account_upcoming_total {text-decoration:none;font-size:11px;display:block;color:#b7b25f;}

.overflown {overflow:auto;height:240px;}

.tr {background:#fff;font-size:11px;clear:both;height:16px;display:block;}
.tr-over {background:#eee;}
.even {background:#fff4f7;}
.td {float:left;}

.td_checked{width:50px;}
.td_effective_date{width:100px;cursor:default;}
.td_category{width:230px;cursor:default;}
.td_comment{width:230px;cursor:default;}
.td_check_number{width:80px;cursor:default;}
.td_value{cursor:default;float:right;}


#entry_editor .td_category select{width:226px;}
#entry_editor .td_comment input {width:226px;}
#entry_editor .td_check_number input {width:76px;}



#add_entry_form .tr {border:0;height:20px;}


.positive_value{display:inline;color:#84b75f;}
.negative_value{display:inline;color:#c53232;}

.div_link {cursor:pointer;}

/*-----------------Tutorial---------------*/
#index-tutorial {padding-left:20px;margin-top:40px;font-family:"Trebuchet MS";}
#index-tutorial h1 {color:#266fbb;font-weight:bold;font-size:24px;background:none;margin:0;padding:0;padding-top:10px;margin-bottom:15px;height:auto;margin-top:25px;}
#index-tutorial h1 .number {color:#fff;padding-right:20px;padding-left:12px;padding-bottom:6px;padding-top:6px;background-image:url(/images/h1-number-bg.gif);background-repeat:no-repeat;background-position:middle;}
#index-tutorial .info {padding:15px;border:1px #dcdcdc solid;background:#eee;color:#216bb5;font-size:12px;}