<% content_for :title, '3. Update Journals' -%>
<% content_for :header, '3. Update Journals' -%>
<ul class="navigation">
  <li>
  <p>
  <%= link_to 'Delete Journals', {:action => "destroy", :id => @ledger},
    :confirm => "Are you sure you want to remove the journals?",
    :method => :delete
  %>
  </p>
  </li>
</ul>

<% paginated_section @journals do %>
<table class="default">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tax Point</th>
      <th>Name</th>
      <th>Type</th>
      <th>Folio</th>
      <th>Account</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
    <%= render :partial => 'ledger_journal', :collection => @journals %>
  </tbody>
</table>
<% end -%>
