<caption>
  Corporation Tax Rates
</caption>
<thead>
  <tr>
    <td>
      Rates, limits and fractions for financial years starting 1 April
    </td>
    <td>
      Main rate of corporation tax
    </td>
    <td>
      Small companies' rate (SCR)
    </td>
    <td>
      Marginal small companies rate lower limit
    </td>
    <td>
      Marginal small companies rate upper limit
    </td>
    <td>
      Marginal small companies rate fraction
    </td>
  </tr>
  <tr>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>£</td>
    <td>£</td>
  </tr>
</thead>
<tfoot>
</tfoot>
