<caption class="large">
  Corporation Tax Rates
</caption>
<thead>
  <tr>
    <th>
      Rates, limits and fractions for financial years starting 1 April
    </th>
    <th>
      Main rate of corporation tax
    </th>
    <th>
      Small companies' rate (SCR)
    </th>
    <th>
      Marginal small companies rate lower limit
    </th>
    <th>
      Marginal small companies rate upper limit
    </th>
    <th>
      Marginal small companies rate fraction
    </th>
  </tr>
  <tr>
    <td></td>
    <td>%</td>
    <td>%</td>
    <td>&pound;</td>
    <td>&pound;</td>
    <td></td>
  </tr>
</thead>
<tfoot>
</tfoot>
