<h1>Accounts</h1>
<div id='accounts_list'><%=render :partial => "/account/list"%></div>

<h1>Categories</h1>
<div id='categories_list'><%=render :partial => "/category/list"%></div>

<h1>Administrate</h1>
<%=render :partial => "/account/form_new"%>
<%=render :partial => "/category/form_new"%>


