<div class='tr <%=tableTestEven(@even)%>' id='entry_<%=@entry.id%>' onmouseover="this.className='tr tr-over';" onmouseout="this.className='tr <%=tableTestEven(@even)%>';" >
	<span class='td td_checked' onclick="switchEntryChecked(<%=@entry.id%>)"><%= check_box 'entry', 'checked', :id => 'entry_checked_'+@entry.id.to_s %></span>
	<div style="height:16px;" onclick="loadEntryToUpdate(<%=@entry.id%>)">
   	 	<span class='td td_effective_date'><%=@entry.effective_date%></span>
		<span class='td td_category'><%=@entry.category.name unless @entry.category.nil?%></span>
		<span class='td td_comment'><%=@entry.comment%>&nbsp;</span>
		<span class='td td_check_number'><%=@entry.check_number%>&nbsp;</span>
		<span class='td td_value'><%=formatValue(@entry.value)%></span>
	</div>
</div>