<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"   
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <title>Check It Out : Admin</title>
  <%= stylesheet_link_tag 'style', 'date-picker' %>
  <%= javascript_include_tag 'prototype', 'application', 'date-picker' %> 
  <!--[if lte IE 6]>
  <style type="text/css">
   	/*<![CDATA[*/ 
	html {overflow-x:auto; overflow-y:hidden;}
   	/*]]>*/
   </style>
   <![endif]-->

   <!--[if lte IE 6]>
   <style>
   	/*<![CDATA[*/ 
   	#loading {position:absolute; top:0; left:0;}
     	/*]]>*/
   </style>
   <![endif]-->
</head>
<body>
<div id="container">
<div id='loading' style='display:none;'>Loading... </div>
<%= yield  %>
</div>
</body>
</html>
