<% content_for :title, '3. Mark Periods' -%>
<% content_for :header, '3. Mark Periods' -%>
<% paginated_section @journals do %>
<table class="default">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tax Point</th>
      <th>Name</th>
      <th>Type</th>
      <th>Folio</th>
      <th>Account</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
    <%= render :partial => 'shared/ledger_journal', :collection => @journals %>
  </tbody>
</table>
<% end -%>
